<a href="https://colab.research.google.com/github/malejaAngel/Proyecto_BMW_Python/blob/main/Proyecto_Final_DF_BMW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PROYECTO FINAL BMW**

1.	Encuentre un conjunto de datos
o	Localice un conjunto de datos en línea desde una fuente confiable (por ejemplo, Kaggle, data.gov o una API abierta). Asegúrese de que el conjunto de datos sea apropiado para el análisis en términos de tamaño, complejidad y relevancia.


BMW SALES(2010-2024)
https://www.kaggle.com/datasets/y0ussefkandil/bmw-sales2010-2024

2.	Ingresar los datos
o	Importe los datos a Python. El método que utilice dependerá del formato del conjunto de datos (por ejemplo, CSV, JSON, Excel, base de datos SQL, API).
o	Por ejemplo:
	Uso pandas.read_csv() para archivos CSV.
	Uso pandas.read_json() para datos JSON.
	Uso pandas.read_excel() para archivos Excel.
	Para obtener datos de API, utilice el requests biblioteca para recuperar datos y luego convertirlos en un DataFrame.

In [ ]:
# Importar librerías necesarias
import pandas as pd

# Cargar el archivo Excel (ajusta el nombre o ruta de tu archivo)
df = pd.read_csv("/content/BMW sales data 2010-2024.csv")

# Mostrar los primeros registros
print(df.head(10))

# Mostrar cuantas filas y columnas tiene
# Opción 1
df.shape

#Opcion 2
filas, columnas = df.shape
print("Número de filas:", filas)
print("Número de columnas:", columnas)

      Model  Year         Region   Color Fuel_Type Transmission  \
0  5 Series  2016           Asia     Red    Petrol       Manual
1        i8  2013  North America     Red    Hybrid    Automatic
2  5 Series  2022  North America    Blue    Petrol    Automatic
3        X3  2024    Middle East    Blue    Petrol    Automatic
4  7 Series  2020  South America   Black    Diesel       Manual
5  5 Series  2017    Middle East  Silver    Diesel       Manual
6        i8  2022         Europe   White    Diesel       Manual
7        M5  2014           Asia   Black    Diesel    Automatic
8        X3  2016  South America   White    Diesel    Automatic
9        i8  2019         Europe   White  Electric       Manual

   Engine_Size_L  Mileage_KM  Price_USD  Sales_Volume Sales_Classification
0            3.5      151748      98740          8300                 High
1            1.6      121671      79219          3428                  Low
2            4.5       10991     113265          6994                  Low
3            1.7       27255      60971          4047                  Low
4            2.1      122131      49898          3080                  Low
5            1.9      171362      42926          1232                  Low
6            1.8      196741      55064          7949                 High
7            1.6      121156     102778           632                  Low
8            1.7       48073     116482          8944                 High
9            3.0       35700      96257          4411                  Low
Número de filas: 50000
Número de columnas: 11

In [ ]:
# Crear un nuevo DataFrame con solo las columnas que te interesan
df_seleccion = df[['Model', 'Year', 'Region', 'Fuel_Type', 'Price_USD', 'Sales_Volume']]

# Mostrar las primeras filas para comprobar
print(df_seleccion.head())

      Model  Year         Region Fuel_Type  Price_USD  Sales_Volume
0  5 Series  2016           Asia    Petrol      98740          8300
1        i8  2013  North America    Hybrid      79219          3428
2  5 Series  2022  North America    Petrol     113265          6994
3        X3  2024    Middle East    Petrol      60971          4047
4  7 Series  2020  South America    Diesel      49898          3080

3.	Limpieza de datos
o	Realizar operaciones de limpieza de datos. Abordar valores faltantes, tipos de datos incorrectos, valores atípicos o duplicados según sea necesario.
o	Documente sus pasos de limpieza con comentarios en su código.

In [ ]:
# Verificar información general del DataFrame

print(df.info())

# Mostrar los tipos de datos de cada columna
print(df.dtypes)


# Identificar valores nulos

print(df.isnull().sum())

# Si hay valores nulos, se pueden eliminar o reemplazar
# Ejemplo: eliminar filas con datos faltantes
df = df.dropna()

# O rellenar con un valor específico (por ejemplo 0 o "Desconocido")
# df['Color'].fillna('Desconocido', inplace=True)

#Verificar duplicados
print(f"Duplicados antes de limpiar: {df.duplicated().sum()}")

# Eliminar duplicados si existen
df = df.drop_duplicates()


# Corregir tipos de datos

# Convertir columnas a tipo numérico o de texto según corresponda
df['Year'] = df['Year'].astype(int)
df['Price_USD'] = pd.to_numeric(df['Price_USD'], errors='coerce')
df['Mileage_KM'] = pd.to_numeric(df['Mileage_KM'], errors='coerce')

#Manejo de valores atípicos (outliers)

# Por ejemplo, detectar valores extremadamente altos o bajos en Precio o Kilometraje
Q1 = df['Price_USD'].quantile(0.25)
Q3 = df['Price_USD'].quantile(0.75)
IQR = Q3 - Q1

# Filtrar valores fuera del rango aceptable
df = df[(df['Price_USD'] >= Q1 - 1.5 * IQR) & (df['Price_USD'] <= Q3 + 1.5 * IQR)]

# Normalizar o estandarizar texto (mayúsculas/minúsculas)

df['Color'] = df['Color'].str.strip().str.title()
df['Fuel_Type'] = df['Fuel_Type'].str.strip().str.capitalize()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 50000 non-null  object
 1   Year                  50000 non-null  int64
 2   Region                50000 non-null  object
 3   Color                 50000 non-null  object
 4   Fuel_Type             50000 non-null  object
 5   Transmission          50000 non-null  object
 6   Engine_Size_L         50000 non-null  float64
 7   Mileage_KM            50000 non-null  int64
 8   Price_USD             50000 non-null  int64
 9   Sales_Volume          50000 non-null  int64
 10  Sales_Classification  50000 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 4.2+ MB
None
Model                    object
Year                      int64
Region                   object
Color                    object
Fuel_Type                object
Transmission             object
Engine_Size_L           float64
Mileage_KM                int64
Price_USD                 int64
Sales_Volume              int64
Sales_Classification     object
dtype: object
Model                   0
Year                    0
Region                  0
Color                   0
Fuel_Type               0
Transmission            0
Engine_Size_L           0
Mileage_KM              0
Price_USD               0
Sales_Volume            0
Sales_Classification    0
dtype: int64
Duplicados antes de limpiar: 0
Limpieza completada y archivo guardado como autos_limpios.xlsx

4.	Manipulación de datos
o	Manipular el conjunto de datos para prepararlo para el análisis. Su manipulación debe incluir


*   Sortie
*   Filtrado (por ejemplo, subconjunto de datos según condiciones)
*   Agrupación (por ejemplo, por variables categóricas)
*   Fusión (si se utilizan varios conjuntos de datos)
*   Remodelar los datos (por ejemplo, pivotar, fundir)

Explique cómo y por qué estas manipulaciones fueron necesarias en su README.

In [ ]:

# SORTIE (Ordenar datos)

# Ordenar por precio de mayor a menor
df_sorted = df.sort_values(by='Price_USD', ascending=False)
print(df_sorted.head)

# Ordenar por año y luego por precio
df_sorted2 = df.sort_values(by=['Year', 'Price_USD'], ascending=[True, False])

#FILTRADO (Seleccionar subconjuntos según condiciones)

# Ejemplo 1: autos eléctricos solamente
df_electric = df[df['Fuel_Type'] == 'Electric']

# Ejemplo 2: autos con precio mayor a 100,000 USD y ventas altas
df_high_value = df[(df['Price_USD'] > 100000) & (df['Sales_Classification'] == 'High')]

# Ejemplo 3: Crear un nuevo DataFrame solo con los años entre 2020 y 2024
df_filtrado = df[(df['Year'] >= 2020) & (df['Year'] <= 2024)]

# Mostrar las primeras filas para comprobar
print(df_filtrado.head())


# AGRUPACIÓN (GroupBy)
# Agrupar por tipo de combustible y obtener promedio de precio y ventas
grouped = df.groupby('Fuel_Type')[['Price_USD', 'Sales_Volume']].mean().reset_index()

# Agrupar por región y contar cuántos modelos hay
region_count = df.groupby('Region')['Model'].count().reset_index(name='Total_Models')

<bound method NDFrame.head of           Model  Year       Region   Color Fuel_Type Transmission  \
26071        i8  2010  Middle East  Silver  Electric       Manual
38158        X6  2019         Asia     Red  Electric    Automatic
6862         i8  2024       Africa  Silver    Diesel    Automatic
154          X1  2016       Africa    Grey    Petrol       Manual
6271   3 Series  2019  Middle East   White    Hybrid       Manual
...         ...   ...          ...     ...       ...          ...
3264   3 Series  2021  Middle East     Red    Hybrid       Manual
13439        M5  2018         Asia   Black    Hybrid       Manual
26405  5 Series  2015       Africa   White    Hybrid       Manual
19031        X5  2022         Asia    Blue    Diesel       Manual
3762         i8  2013         Asia    Grey  Electric    Automatic

       Engine_Size_L  Mileage_KM  Price_USD  Sales_Volume Sales_Classification
26071            4.2      115320     119998          5842                  Low
38158            3.3      142419     119997          4575                  Low
6862             4.1      163849     119997          9250                 High
154              4.1      172950     119996          9620                 High
6271             4.0       12264     119994          3259                  Low
...              ...         ...        ...           ...                  ...
3264             4.1       54636      30008          5554                  Low
13439            4.9       27843      30005          6316                  Low
26405            2.4      190634      30002          5469                  Low
19031            4.8      100254      30001          5035                  Low
3762             2.5      165642      30000          7782                 High

[50000 rows x 11 columns]>